$ cat .gitignore
/js/lib/node_modules/*
/js/lib/bower_components/bootstrap/*
/js/lib/bower_components/closure-compiler/*
/js/lib/bower_components/jquery/*
/js/lib/bower_components/progressbar.js/*S
doc/**

#Ignore Mac system file
*.DS_Store

\.idea/
